body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #001529;
  font-size:16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  /* width: 120px; */
  /* height: 31px; */
  /* background: rgba(255,255,255,.2); */
  /* margin: 16px 24px 16px 0; */
  float: left;
  margin-left:-12px;
}




.ant-layout-sider-children{
  width: inherit;
}

/* .Tabbed .ant-tabs-bar{
  margin:0;
  width:fit-content;
} */

.Tabbed .ant-tabs-tab-prev, .Tabbed .ant-tabs-tab-next {
  color:white;
}

.Tabbed .ant-layout-sider-zero-width-trigger {
  top: 0;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px !important;
}

.ant-tabs-extra-content .ant-tabs-new-tab {
  background:#fff;
  color:black;
}

.buttonSpecial{ 
    background:linear-gradient(90deg, rgb(5, 171, 163) 3%, rgb(24, 144, 255) 100%) !important;
    background-color:transparent;
    min-width: 100%;
    transform: translate(0);
    font-size: 16px !important;
    font-weight: 600 !important;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.45) !important;
    transition: all 0.3s cubic-bezier(0.645, 0.55, 0.355, 1) ease-in-out;
}

.buttonSpecial:hover{
  background:linear-gradient(90deg, rgb(24, 144, 255) 3%, rgb(24, 144, 255) 100%) !important;
  background-image:none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
  transform: translate(0, -4px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) ease-in-out;
}